{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h2>Sites</h2>
        <p>
            Gives You the Site details for Sites available on the db.
            Pick a Site:
            <div class="btn-group">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Extra small button <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for item in sites}
                    <li><a href="#">{{item.name}}</a></li>
                    {% endfor}
                </ul>
            </div>
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
